<body>
  <form action="/add_to_database" method="post">
    <label for="title">Enter bookmark title</label>
    <input type="text" name="title">
    <label for="url">Enter bookmark URL</label>
    <input type="text" name="url">
    <input type="submit" value="Create New">
  </form>
</body>
