<body>
  <p>My first bookmark</p>
  <ul>
    <% @bookmarks.each do |bmk| %>
      <li><a href="<%= bmk.url %>"><%= bmk.title %></a></li>
    <% end %>
  </ul>
  <form action="/add_bookmark">
    <input type="submit" value="Add New">
  </form>
  <form action="/edit_bookmarks">
    <input type="submit" value="Edit">
  </form>
</body>
